<template>
    <div class="card" :style="`background-color: ${student.color}`">
        <div class="imac">
            <div class="header">
                <p class="number" :style="`color: ${this.$store.state.colors.mainTitle}`">#{{ student.id }}</p>
                <p class="name">{{ student.prenom }} <br/> {{ student.nom }}</p>
            </div>
            <span class="footer">
                <span class="spe" :style="`color: ${this.$store.state.colors.default}`">
                    {{ student.spe }}
                </span>
                <p class="niv" :style="`color: ${this.$store.state.colors.mainTitle}`">
                    NIV. {{ student.niveau }}
                </p>
            </span>
            <span class="avatar">
                <vs-avatar  :size="avatarSize">
                    <img :src="student.photo" alt="Photo">
                </vs-avatar>
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CarteMini',
    data() {
        return {
            avatarSize: "70"
        }
    },
    props: {
        student: {}
    },
    created: function() {
        if (window.innerWidth < 400) {
            this.avatarSize = '60';
        } else if (window.innerWidth > 660) {
            this.avatarSize = '100';
        }
    }
}
</script>

<style>
    .card {
        height: 10vh;
        min-height: 137px;
        max-height: 200px;
        width: 45vw;
        min-width: 160px;
        max-width: 250px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
        border-radius: 28px;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .imac {
        height: 100%;
        width: 100%;
        background-image: url(../assets/IMAC_white.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-blend-mode: color;
        display: grid;
        background-size: 100px;
        grid-template-rows: 50%, 25%, auto;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "header header"
            "footer avatar"
            "footer avatar"
        ;
    }
    .header {
        grid-area: header;
        margin-left: 15px;
        margin-top: 15px;
        text-align: left;
    }
    .footer {
        grid-area : footer;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: space-evenly;
        text-align: left;
    }
    .number {
        font-size: 15px;
        font-weight: 800;
        opacity: .4;
    }
    .name {
        font-size: 13px;
        color: white;
        font-weight: 800;
        text-transform: uppercase;
    }
    .spe {
        background: rgba(255, 255, 255, 0.24);
        border-radius: 100px;
        padding: 10px;
        font-size: 9px;
        font-weight: 800;
        width: fit-content;
        text-transform: uppercase;
    }
    .avatar {
        grid-area: avatar;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }
    .niv {
        font-size: 10px;
        font-weight: 800;
        opacity: .4;
        margin-left: 10px;
    }
    @media only screen and (min-width: 650px) {
        .imac {
            background-position: center;
            grid-template-areas:
                "header avatar"
                "footer avatar"
                "footer avatar"
            ;
        }
        .avatar {
            height: 100%;
            justify-content: center;
            align-self: center;
            align-content: center;
            flex-direction: column;
        }
    }
</style>