<template>
    
    <div class="homebutton-container">
        <i class="fas fa-home homebutton-icon"></i>
    </div>
    
</template>

<script>
export default {
    name: 'HomeButton'
}
</script>

<style>
    .homebutton-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .homebutton-icon {
        color: var(--primary);
        text-align: right;
        background-color:#fff ;
        padding: 10px;
        border-radius: 100%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.05), 1px 2px 6px rgba(0,0,0,0.05);
        left: 20px;
        top: 20px;
        position: fixed;
        font-size: 20px;
        color: var(--mainTitle);
        z-index: 101;
    }
    .homebutton-icon:hover {
        color: var(--primary)
    }
</style>