<template>
    <div class="filiereMenuContainer con-checkbox">
      <vs-checkbox val="IMAC" v-model="options">
        IMAC
      </vs-checkbox>
      <vs-checkbox disabled val="GM" v-model="options">
        GM
      </vs-checkbox>
      <vs-checkbox disabled val="GC" v-model="options">
        GC
      </vs-checkbox>
      <vs-checkbox disabled val="INFO" v-model="options">
        INFO
      </vs-checkbox>
      <vs-checkbox disabled val="EISC" v-model="options">
        EISC
      </vs-checkbox>
      <vs-checkbox disabled val="MFPI" v-model="options">
        MFPI
      </vs-checkbox>
    </div>
</template>

<script>
export default {
    name: 'MenuNiv',
    data () {
        return {
            options: [],
        }
    }
}
</script>

<style>
.filiereMenuContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
</style>