<template>
    <div class="locationMenuContainer con-checkbox">
      <vs-checkbox val="Copernic" v-model="options">
        Bâtiment Copernic
      </vs-checkbox>
      <vs-checkbox val="Lavoisier" v-model="options">
        Bâtiment Lavoisier
      </vs-checkbox>
      <vs-checkbox val="Clément Ader" v-model="options">
        Bâtiment Clément Ader
      </vs-checkbox>
      <vs-checkbox val="François Rabelais" v-model="options">
        Bâtiment François Rabelais
      </vs-checkbox>
      <vs-checkbox val="Georges Perec" v-model="options">
        Bibliothèque Georges Perec
      </vs-checkbox>
      <vs-checkbox val="MDE" v-model="options">
        Maison de l'étudiant
      </vs-checkbox>
      <vs-checkbox disabled val="..." v-model="options">
        Liste à compléter...
      </vs-checkbox>
    </div>
</template>

<script>
export default {
    name: 'MenuNiv',
    data () {
        return {
            options: [],
        }
    }
}
</script>

<style>
.locationMenuContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
</style>