<template>
    <div class="center-niv">
        <vs-slider step=1 v-model="levels" :max=8 text-fixed=Niv class="slider-niv" @change="setFilterNiv" />
    </div>
</template>

<script>
export default {
    name: 'MenuNiv',
    data () {
        return {
            levels: [0,8]
        }
    },
    methods: {
        setFilterNiv() {
            // console.log("this.levels :", this.levels)
            this.$store.commit('setFilterNiv', {min: this.levels[0], max: this.levels[1]})
        }
    }
}
</script>

<style>
    .center-niv {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        min-height: 60px;
        box-sizing: border-box;
        padding: 0 20px 0 20px;
    }

    .slider-niv{
        max-width: 90vw !important;
    }
    .con-vs-slider {
        min-width: 0px !important;
    }

    /* Garder les text des curseurs visibles */
    .text-circle-slider {
        opacity: 1 !important;
        visibility: visible !important;
        transform: translate(-50%, -150%) !important;
        cursor: pointer;
    }

</style>