<template>
    <div @click="()=>{toggle();}" class="menu-button-container">
        <!-- FLECHE -->
        <transition name="fadeLeft">
            <div class="arrow-container"  v-if="this.$store.state.interface.menuIsOpen != false"><i class="fas fa-arrow-left arrow"></i></div>
        </transition>

        <!-- BACKGROUND -->
        <div id="buttonBG" class="container closeMenuBg" :class="{openMenuBg : this.$store.state.interface.menuIsOpen}"></div>

        <!-- CONTAINER (icon) -->
        <div class="container">
            <i class="fas fa-th-list icon" :class="{openMenuIcon : this.$store.state.interface.menuIsOpen }"></i>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MenuButton',
    data() {
        return {
        }
    },
    methods: {
        toggle() {
            console.log("toggle"),
            this.$store.commit('toggleMenu')
        }
    }
}
</script>

<style>
    .icon {
        font-size: 20px;
        text-align: right;
        background-color:#fff ;
        padding: 10px;
        border-radius: 100%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.05), 1px 2px 6px rgba(0,0,0,0.05);
        color : var(--mainTitle);
    }
    .openMenuIcon{
        color:var(--primary);
    }
    .closeMenuBg{
        background-color: var(--second) !important;
    }
    .openMenuBg{
        background-color: var(--primary) !important;
    }
    .container {
        display: flex;
        position: fixed;
        right: -20px;
        top: -20px;
        padding: 40px 40px 80px 80px;
        border-radius: 0 0 0 100%;
        z-index: 99;
        cursor: pointer;

    }
    #buttonBG {
        opacity: .24;
        padding: 40px 40px 105px 105px;
        z-index: 99;
    }
    * {
        transition: .25s
    }
    .arrow-container {
        position: fixed;
        display: flex;
        justify-content: center;
        left: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        padding: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.05), 1px 2px 6px rgba(0,0,0,0.05);
        border-radius: 100%;
        z-index: 99;
        cursor: pointer;
        background-color:#fff ;
    }
    .arrow {
        color: var(--mainTitle);
        font-size: 20px;
        border-radius: 100%;
        
    }
    .arrow:hover {
        color: var(--primary);
    }
</style>