<template>
    <div class="menu-container">
        <div style="max-width: 600px">
            <h1>Quel type d'étudiant recherches-tu ?</h1>
            <vs-row justify="center">
                <vs-col justify="center" align="center" w="12">
                    <vs-input :style="`color: ${this.$store.state.colors.default}`" class="searchbar" primary shadow icon-after label-placeholder="Rechercher" @input="researchComponent()" v-model="research">
                        <template #icon>
                            <i class="fas fa-search" @click="()=>{toggle();}"></i>
                        </template>
                    </vs-input>
                </vs-col>    
            </vs-row>
            <vs-collapse type="shadow">

                <h2 class="section">Trier par</h2>
                <vs-collapse-item>
                    <menu-tri></menu-tri>
                </vs-collapse-item>

                <!-- FILTRER -->
                <h2 class="section">Filtrer</h2>
                
                <!-- Spécialités -->
                <vs-collapse-item>
                    <div slot="header" class="collapse-header">
                        <i class="fas fa-star"></i><p>Spécialités</p>
                    </div>
                    <menu-specialites></menu-specialites>
                </vs-collapse-item>

                <!-- Niveau -->
                <vs-collapse-item>
                    <div slot="header" class="collapse-header">
                        <i class="fas fa-level-up-alt"></i><p>Niv. d'étude</p>
                    </div>
                    <menu-niv></menu-niv>
                </vs-collapse-item>

                <!--
                <vs-collapse-item>
                    <div slot="header" class="collapse-header">
                        <i class="fas fa-user-graduate"></i><p>Filière</p>
                    </div>
                    <menu-filiere></menu-filiere>
                </vs-collapse-item>

                Position
                <vs-collapse-item>
                    <div slot="header" class="collapse-header">
                        <i class="fas fa-map-marker-alt"></i><p>Position</p>
                    </div>
                    <menu-location></menu-location>
                </vs-collapse-item>
                -->
            </vs-collapse>

            <!-- Boutons -->
            <div class="button-container">
                <div @click="()=>{toggle();}" class="button-container"> 
                    <router-link to ="/addstudent">
                        <vs-button relief>
                            <i class="fas fa-user-plus button-icon"></i><p class="button-text">Ajouter un étudiant</p>
                        </vs-button>
                    </router-link>
                </div>
            </div>
            <div @click="()=>{toggle();}" class="button-container">
                <router-link to ="/report">    
                    <vs-button relief>
                        <i class="fas fa-bug"></i><p class="button-text">Signaler une erreur ou un bug</p>
                    </vs-button>
                </router-link>     
            </div>

        </div>
    </div>
</template>

<script>
import MenuTri from "./MenuTri.vue"
import MenuSpecialites from "./MenuSpecialites.vue"
import MenuNiv from './MenuNiv.vue'
//import MenuLocation from './MenuLocation.vue'
//import MenuFiliere from './MenuFiliere.vue'

export default {
    name: 'MenuComp',
    data () {
        return {
            research: ''
        }
    },
    components: {
        MenuTri,
        MenuSpecialites,
        MenuNiv,
        //MenuLocation,
        //MenuFiliere,     
    },
    methods: {
        toggle() {
            console.log("toggle")
            this.$store.commit('toggleMenu')
        },
        researchComponent(){
           this.$store.commit('setResearch',this.research);
        }
    }
}
</script>

<style>
    .menu-container {
        background: linear-gradient(180deg, #FFFFFF 14.5%, #FFFFFF 14.51%, #F9F9F9 27.2%);
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .section {
        font-size: 18px;
        color: var(--second);
        font-weight: 900;
        margin-left: 20px;
    }
    .collapse-header {
        font-size: 15px;
        font-weight: 800;
        color: var(--default);
        margin-left: 30px;
    }
    .collapse-header > p {
        display: inline;
        margin-left: 10px;
    }
    .button-text {
        margin-left: 5px;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
    }
    .button-icon {
        color: white;
    }
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .searchbar{
        width: auto !important;
        max-width: 85vw !important;
        margin: 15px 8px;
        font-weight: bold;
        text-align: left;
        color: #7E7E7E;
    }
</style>