<template>
    <div class="center">
        <div class="center col">
            <vs-button :active="audiovisuel == true" :color="color.audiovisuel" size="xl" @click="setFilter('audiovisuel')" block class="button">audiovisuel</vs-button>
            <vs-button :active="web == true" :color="color.web" size="xl" @click="setFilter('web')" block class="button">web</vs-button>
            <vs-button :active="scInge == true" :color="color.scInge" size="xl" @click="setFilter('scInge')" block class="button">Sc.Ingénieur</vs-button>
        </div>
        <div class="center col">
            <vs-button :active="art == true" :color="color.art" size="xl" @click="setFilter('art')" block class="button">art</vs-button>
            <vs-button :active="programmation == true" :color="color.prog" size="xl" @click="setFilter('programmation')" block class="button">programmation</vs-button>
            <vs-button :active="D3 == true" :color="color.D3" size="xl" @click="setFilter('D3')" block class="button">3D</vs-button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MenuSpecialites',
    data() {
        return {
            audiovisuel: false,
            web: false,
            scInge: false,
            art: false,
            programmation: false,
            D3: false,
            color: this.$store.state.colors
        }
    },
    methods: {
        // Toggle le bouton et la valeur dans le filtre dans Vuex
        setFilter(spe) {
            switch (spe) {
                case 'audiovisuel':
                    this.audiovisuel = !this.audiovisuel
                    break
                case 'web':
                    this.web = !this.web
                    break
                case 'scInge':
                    this.scInge = !this.scInge
                    break
                case 'art':
                    this.art = !this.art
                    break
                case 'programmation':
                    this.programmation = !this.programmation
                    break
                case 'D3':
                    this.D3 = !this.D3
                    break
            }
            this.$store.commit('toggleFilterSpe', spe)
        }
    }
}
</script>

<style>
    .center {
        text-transform: uppercase !important;
        display: flex;
        flex-direction: row;
    }
    .col {
        display: flex;
        width: 50%;
        flex-direction: column;
        margin: 10px;
    }
    .button {
        margin: 8px 0 8px 0 !important;
        font-weight: 800;
    }
    .button > * {
        text-transform: uppercase !important;
        font-size: 13px !important;
    }
</style>