<template>
    <div @change="changeOrder()" class="tri-center">
        <vs-radio v-model="picked" val="1" :color="color">
          Nom
        </vs-radio>
        <vs-radio v-model="picked" val="2" :color="color">
          Spécialité
        </vs-radio>
        <vs-radio v-model="picked" val="3" :color="color">
          Numéro d'étudiant
        </vs-radio>
    </div>
</template>

<script>
export default {
    name: 'MenuTri',
    data(){
      return {
        picked: 1,
        color: this.$store.state.colors['primary']
      }
    },
    methods:{
      changeOrder(){
        console.log(this.picked)
        this.$store.commit("changeSort", this.picked);
      }
    }
}
</script>

<style>
    .tri-center {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
        margin-left: 10vw;
        text-align: left;
    }
    .tri-center > * {
      margin: 5px 0 5px 0;
      text-transform: uppercase !important;
      font-weight: 800;
      color: var(--default)
    }
</style>