<template>
    <div class="aboutContainer">
        <vs-row class="emailContainer" justify="center">
            <vs-col type="flex" align="center" justify="center" w="12">
                <h2 class="emailTitle" @click="()=>{Copy(this.studentInfos.email);}">{{ studentInfos.email }}</h2>
            </vs-col>
        </vs-row>
        <vs-row class="socialContainer" type="flex" justify="center">
            <vs-row justify="space-around">
                <vs-col type="flex" justify="center" align="start" w="4">
                    <vs-tooltip color="primary">
                        <h2 class="infoSocialTitle" @click="()=>{Copy(this.studentInfos.facebook);}"><i class="fab fa-facebook"></i> Facebook</h2>
                        <template #tooltip>
                            {{ studentInfos.facebook }}
                        </template>
                    </vs-tooltip>
                </vs-col>
                <vs-col type="flex" justify="center" align="start" w="4">
                    <vs-tooltip color="primary">
                        <h2 class="infoSocialTitle" @click="()=>{Copy(this.studentInfos.instagram);}"><i class="fab fa-instagram"></i> Instagram</h2>
                        <template #tooltip>
                            {{ studentInfos.instagram }}
                        </template>
                   </vs-tooltip>
                </vs-col>
            </vs-row>
            <vs-row justify="space-around">
                <vs-col type="flex" justify="center" align="start" w="4">
                    <vs-tooltip bottom color="primary">
                        <h2 class="infoSocialTitle" @click="()=>{Copy(this.studentInfos.twitter);}"><i class="fab fa-twitter"></i> Twitter</h2>
                         <template #tooltip>
                            {{ studentInfos.twitter }}
                        </template>
                    </vs-tooltip>
                </vs-col>
                <vs-col type="flex" justify="center" align="start" w="4">
                    <vs-tooltip bottom color="primary">
                        <h2 class="infoSocialTitle" @click="()=>{Copy(this.studentInfos.discord);}"><i class="fab fa-discord"></i> Discord</h2>
                        <template #tooltip>
                            {{ studentInfos.discord }}
                        </template>
                    </vs-tooltip>
                </vs-col>
            </vs-row>
        </vs-row>
    </div>
</template>

<script>
export default {
    name: "ProfilNetwork",
    data(){
        return {
        switch1:true,
        number1:10,
        }
    },
    props: {
            studentInfos: {}
        },
    methods:{
        Copy(element) {
            navigator.clipboard.writeText(element);
        }
    }
    
}
</script>

<style>
.emailContainer{
        padding: 0px 5px ;
        margin-bottom: 20px; 
}
.emailTitle{
    font-size: 14px;
    color: var(--second);
    font-weight: 700;
    margin :0px 0px 5px 0px !important;
}
.emailInfo{
    font-size: 12px;
}

.socialContainer{
        box-shadow: 0 6px 20px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.1);
        padding: 20px 0px;
        border-radius: 20px;
}
.infoSocialTitle {
        font-size: 14px;
        color: var(--second);
        font-weight: 700;
        margin: 5px 0px;
    }

</style>