<template>
    <div>
        <div style="max-width: 600px">
            <vs-collapse type="shadow">             
                <!-- Prog -->
                <vs-collapse-item :key="categorie.Titre_Cat" v-for="categorie in compInCat">
                    <div slot="header" class="collapse-speciality">
                        <p>{{categorie.Titre_Cat}}</p>
                    </div>
                    <vs-list>
                        <vs-list-item :key="comps.titre" v-for="comps in categorie.comps" class="skills-list-item" :title="comps.titre" :subtitle="`Niv : ${comps.niveau}`"></vs-list-item>
                    </vs-list>
                </vs-collapse-item>
            </vs-collapse>
        </div>
    </div>
</template>

<script>

export default {
    name: 'ProfilSkills',
    data () {
        return{
            categorie: '',

        }
    },
    props: {
        studentInfos : Object,
        compInCat : Array
  },
}
</script>

<style>
   .collapse-speciality{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 700;
    color: var(--second);
   }
   .skills-list-item{
       color: var(--primary);
       font-size: 14px;
   }
   .vs-list--title{
       font-weight: 500 !important;
   }
   .vs-list--subtitle{
       color: var(--default);
       font-weight: 500 !important;
   }
</style>