<template>
    <div :style="`background: linear-gradient(180deg, ${studentInfos.color} 2.69%, #F2F2F2 50%)`" class="profilContainer">
        <div class="profilHeader">
            <vs-row align="center" justify="space-between">
                <vs-col type="flex" justify="center" align="start" w="8">
                    <h1 class="profilTitle">{{ studentInfos.prenom }}<br/>{{ studentInfos.nom }}</h1>
                </vs-col>
                <vs-col type="flex" justify="center" align="end" w="4">
                    <p class="number" :style="`color: ${this.$store.state.colors.mainTitle}`">#{{ $route.params.num_etud }}</p>
                </vs-col>
            </vs-row> 
            <vs-row align="center">
                <vs-col type="flex" justify="center" align="start" w="12">
                    <span class="speProfilHeader" :style="`color: ${this.$store.state.colors.default}`">
                        {{ studentInfos.spe }}
                    </span>
                </vs-col>
            </vs-row>
            
        </div>
        <div class="infoProfilContainer">
            <span class="avatarProfil">
                <vs-avatar  :size="avatarSize" class="photoAvatar">
                    <img :src="studentInfos.photo" alt="Photo"/>
                </vs-avatar>
            </span>
            <vs-tabs alignment="center">
                <vs-tab class="profilTabs" label="À Propos">
                    <div>
                        <profil-a-propos :studentInfos="studentInfos"></profil-a-propos>
                    </div>
                </vs-tab>
                <vs-tab class="profilTabs" label="Compétences">
                    <div>
                        <profil-skills :compInCat="compInCat" :studentInfos="studentInfos"></profil-skills>
                    </div>
                </vs-tab>
                <vs-tab class="profilTabs" label="Réseaux">
                    <div>
                        <profil-network :studentInfos="studentInfos"></profil-network>
                    </div>
                </vs-tab>
            </vs-tabs>
        </div>
    </div>
</template>

<script>

import ProfilAPropos from "./ProfilAPropos.vue"
import ProfilNetwork from "./ProfilNetwork.vue"
import ProfilSkills from "./ProfilSkills.vue"

export default {
    name: 'Profil',
    data(){
        return{
            avatarSize: "150",
            studentInfos: {},
            compInCat: []
        }
    },
    components :{
        ProfilAPropos,
        ProfilNetwork,
        ProfilSkills
    },
    methods: {
        toggle() {
            // console.log("toggle")
            this.$store.commit('toggleMenu')
        }
    },
    beforeCreate() {
        // Fetch le profil qui correspond au num_etud de :
        // $route.params.num_etud
        // Afficher erreur si étudiant non trouvé
        fetch('http://perso-etudiant.u-pem.fr/~arougnon/api/profile.php?Num_Etud='+this.$route.params.num_etud, {method: 'GET'})
            .then(response => {
                // console.log("PROFILE", response);
                return response.json();
            }).then(data => {
                console.log("FETCH PROFIL", data);
                for (let comp of data.competences) {
                    console.log(comp.categorie)
                    if(!this.compInCat.some(e => e.ID_Cat == comp.categorie.ID_Cat)) {
                        let cat = comp.categorie
                        cat.comps = []
                        this.compInCat.push(cat)
                    }
                    // console.log("pute", this.compInCat.findIndex(e => e.ID_Cat == comp.categorie.ID_Cat))
                    let index = this.compInCat.findIndex(e => e.ID_Cat == comp.categorie.ID_Cat)
                    this.compInCat[index].comps.push(comp)
                }

                this.studentInfos = data
                let speList = [];

                for (let ele of this.studentInfos.competences) {
                    speList.push(ele.categorie.ID_Cat);
                }
                this.$store.commit('returnMostOccurence', speList);
                switch (this.$store.state.data.maxSpe) {
                case '1':
                    this.studentInfos.color = this.$store.state.colors.web
                    this.studentInfos.spe = 'web'
                    break;
                case '2':
                    this.studentInfos.color = this.$store.state.colors.prog
                    this.studentInfos.spe = 'prog.'
                    break;
                case '3':
                    this.studentInfos.color = this.$store.state.colors.art
                    this.studentInfos.spe = 'art'
                    break;
                case '4':
                    this.studentInfos.color = this.$store.state.colors.audiovisuel
                    this.studentInfos.spe = 'audiovisuel'
                    break;
                case '5':
                    this.studentInfos.color = this.$store.state.colors.scInge
                    this.studentInfos.spe = 'sc. inge'
                    break;
                case '6':
                    this.studentInfos.color = this.$store.state.colors.D3
                    this.studentInfos.spe = '3D'
                    break;
                default :
                    this.studentInfos.color = '0'
                    break
                }
                console.log(this.compInCat)
            })
    }
}
</script>

<style>

.avatarProfil{
    grid-area: avatar;
    display: flex;
    justify-content:center;
    align-self: center;
    margin:-80px 0px 30px 0px;
    
}
.speProfilHeader {
        background: rgba(255, 255, 255, 0.24);
        border-radius: 100px;
        padding: 10px 15px;
        font-size: 12px;
        font-weight: 800;
        width: fit-content;
        text-transform: uppercase;
        margin: 5px 10px 5px 0px; 
}
.profilHeader{
    padding: 90px 40px 50px 40px;
}
.profilTitle{
    margin: 0px 0px 15px 0px;
    text-transform: uppercase;
    font-size: 17px;
}

.photoAvatar{
    box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.19);
}

.infoProfilContainer{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 40px;
  margin-top: 60px;
}
body{
    background-color:#8ccfff !important;
}
.profilContainer {
    min-height: 100vh;
}

@media screen and (min-width: 640px) {
  .profilContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .infoProfilContainer{
        width: 500px;
    }
    .profilHeader{
        width: 500px;
        align-items: space-between;
    }
}
</style>
