<template>
    <div class="aboutContainer">
        <vs-row type="flex" justify="center">
            <vs-col class="descriptionDiv" type="flex" justify="center" align="flex-start" w="12">
                <h2 style="margin-bottom: 10px"  class="infoTitle">Description</h2>
                <p class="infoContent">{{ studentInfos.description }}</p>

            </vs-col>
        </vs-row>
        <vs-row class = "divider">
            <vs-row style="margin-bottom: 10px" class="personalInfoContainer" type="flex" justify="flex-start">
                <vs-col type="flex" justify="center" align="flex-start" w="4">
                    <h2 class="infoTitle"><i class="fas fa-user-graduate"></i> Filière</h2>
                </vs-col>
                <vs-col type="flex" justify="center" align="flex-start" w="4">
                    <p class="infoContent">{{ studentInfos.filiere.label }}</p>
                </vs-col>
            </vs-row>
            <vs-row class="personalInfoContainer" type="flex" justify="flex-start">
                <vs-col type="flex" justify="center" align="flex-start" w="4">
                    <h2 class="infoTitle"><i class="fas fa-level-up-alt"></i> Niv.</h2>
                </vs-col>
                <vs-col type="flex" justify="center" align="flex-start" w="4">
                    <p class="infoContent">{{ studentInfos.niveau }}<sup v-if="studentInfos.niveau == 1">ère</sup> <sup v-else >ème</sup> Année</p>
                </vs-col>
            </vs-row>
        </vs-row>
        <vs-row class="measurementContainer" type="flex" justify="space-around">
            <vs-col type="flex" justify="center" align="flex-start" w="3">
                <h2 class="infoTitle"><i class="fas fa-ruler-vertical"></i> Taille</h2>
                <p class="infoContent">{{ studentInfos.taille }} cm</p>
            </vs-col>
            <vs-col type="flex" justify="center" align="flex-start" w="3">
                <h2 class="infoTitle"><i class="fas fa-weight-hanging"></i> Poids</h2>
                <p class="infoContent">{{ studentInfos.poids }} kg</p>
            </vs-col>
        </vs-row>
    </div>
</template>

<script>
export default {
    name: 'ProfilAPropos',
    props: {
        studentInfos: {}
    },
    created: function() {
        if (window.innerWidth < 400) {
            this.avatarSize = '60';
        } else if (window.innerWidth > 660) {
            this.avatarSize = '100';
        }
    }
}
</script>

<style>
.divider{
    border-top: 1px solid var(--second) !important;
    border-bottom: 1px solid var(--second)!important;
    border: white;
    margin: 30px 0px;
    padding: 20px 0;
}
.measurementContainer{
        box-shadow: 0 6px 20px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.1);
        padding: 20px 0px;
        border-radius: 20px;

}
.descriptionDiv{
    text-align:justify;
}

.aboutContainer{
    padding: 30px;
}

.infoContent{
    font-size: 12px;
}

.infoTitle {
        font-size: 14px;
        color: var(--second);
        font-weight: 700;
    }
</style>