<template>
  <transition name="fade">
    <div>
      <h1>REPERTOIRE</h1>
      <div class="repertoire-bigContainer">
        <div class="repertoire-container" :class="{repertoireContainerNoscroll : this.$store.state.interface.menuIsOpen}">
          <router-link v-for="student in this.students" :key="student.id" :to="`/user/${student.id}`">
            <carte-mini
              :student="student">
            </carte-mini>
          </router-link>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import CarteMini from './CarteMini.vue'
export default {
  name: 'Repertoire',
  components: {
    CarteMini
  },

  methods:{
    orderBy(a, b){
      // Use toUpperCase() to ignore character casing
      if (this.$store.state.data.switchSort == 2) {
          const speA = a.spe.toUpperCase();
          const speB = b.spe.toUpperCase();

          let speComparison = 0;
          if (speA > speB) {
            speComparison = 1;
          } else if (speA < speB) {
            speComparison = -1;
          }
          return speComparison;
      }
      else if(this.$store.state.data.switchSort == 1){
          const nameA = a.nom.toUpperCase();
          const nameB = b.nom.toUpperCase();

          let nameComparison = 0;
          if (nameA > nameB) {
            nameComparison = 1;
          } else if (nameA < nameB) {
            nameComparison = -1;
          }
          return nameComparison;
      }
      else if(this.$store.state.data.switchSort == 3){
          const numEtudA = a.id.toUpperCase();
          const numEtudB = b.id.toUpperCase();

          let nameComparison = 0;
          if (numEtudA > numEtudB) {
            nameComparison = 1;
          } else if (numEtudA < numEtudB) {
            nameComparison = -1;
          }
          return nameComparison;
      }
     
    }
  },
  computed: {
    // FILTRES ------------------------
    students: function () {
      if (this.$store.getters.isFilters) {
        var filters = this.$store.state.interface.filters
        var filtered = this.$store.state.data.displayedStudents

        // SPE
        // console.log('Ça teste les filters ')
        if (Object.values(filters.spe).includes(true)) {
          let toremove = []
          for (let student of filtered) {
            switch (student.spe) {
              case 'audiovisuel':
                  if (!filters.spe.audiovisuel) toremove.push(student)
                  break
              case 'web':
                  if (!filters.spe.web) toremove.push(student)
                  break
              case 'sc. inge':
                  if (!filters.spe.scInge) toremove.push(student)
                  break
              case 'art':
                  if (!filters.spe.art) toremove.push(student)
                  break
              case 'prog.':
                  if (!filters.spe.programmation) toremove.push(student)
                  break
              case '3D':
                  if (!filters.spe.D3) toremove.push(student)
                  break
            }
          }
          for (let ele of toremove) {
            filtered.splice(filtered.indexOf(filtered.find(oui => oui == ele)), 1)
          }
        }


        // NIV
        if (filters.niv.min != '' || filters.niv.max != '') {
          // console.log('MAX', filters.niv.max)
          let toremove = []
          for (let student of filtered) {
            if (Number(student.niveau) < filters.niv.min || Number(student.niveau) > filters.niv.max) {
              toremove.push(student)
            }
          }
          for (let ele of toremove) {
            filtered.splice(filtered.indexOf(filtered.find(oui => oui == ele)), 1)
          }
        }

        // // FILIERES
        // if (filters.filieres.length > 0) {
        //   for (let student of filtered) {
        //     if () {
        //       filtered.splice(filtered.indexOf(student), 1)
        //     }
        //   }
        // }
        filtered.sort(this.orderBy)
        console.log(filtered)
        return filtered
      } else {
        let ordered = this.$store.state.data.displayedStudents
        ordered.sort(this.orderBy)
        console.log(ordered);
        return ordered
      }
    }
  },
  beforeCreate: function() {
    // Tant que la recherche n'est pas fonctionnel, on vide le tableau à chaque fois
    this.$store.commit('resetDisplayedStudents');
    
    if(this.$store.state.data.research == ""){
      fetch('http://perso-etudiant.u-pem.fr/~arougnon/api/main.php', {method: 'GET'})
      .then(response => {
        // console.log(response);
        return response.json();
      }).then(data => {
        console.log("FETCH", data.records)
        this.$store.dispatch('addStudents', data.records);
      })
    }
    else{
      fetch('http://perso-etudiant.u-pem.fr/~arougnon/api/search.php?s='+this.$store.state.data.research, {method: 'GET'})
      .then(response => {
        console.log(response);
        return response.json();
      }).then(data => {
        console.log("FETCH", data.records)
        this.$store.dispatch('addStudents', data.records);
        
      })
    }
    this.$store.commit('resetResearch');
  }
}
</script>

<style>
  .repertoire-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 600px;
  }
  .repertoire-bigContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .repertoire-container > * {
    margin: 20px 0 20px 0;
  }
  .repertoireContainerNoscroll {
    height: calc(100vh - 164px);
    overflow: hidden;
  }
</style>
