<template>
    <div class="formularContainer formularContainer-report">
        <h1 class="signalementTitle">Signalement</h1>
        <vs-row justify="center" align="center">
            <vs-col type="flex" justify="center" align="center" w="12">
                <div class="reportFormular">
                  <vs-row>
                    <vs-col type="flex" justify="center" align="center" w="12">
                      <vs-select class="inputs" placeholder="Type de signalement" v-model="type">
                        <vs-option label="Signaler du contenu inapproprié" value="1">
                          Signaler du contenu inapproprié
                        </vs-option>
                        <vs-option label="Signaler une usurpation d'identité" value="2">
                          Signaler une usurpation d'identité
                        </vs-option>
                        <vs-option label="Signaler un bug" value="3">
                          Signaler un bug
                        </vs-option>
                        <vs-option label="Proposition d'amélioration" value="4">
                          Proposition d'amélioration
                        </vs-option>
                      </vs-select>
                    </vs-col>
                    <vs-col type="flex" justify="center" align="center" w="12">
                      <vs-input :style="`color: ${this.$store.state.colors.default}`" class="inputs" primary shadow icon-before label-placeholder="E-Mail" v-model="email">
                        <template #icon>
                          <i class="fas fa-at"></i>
                        </template>
                      </vs-input>
                    </vs-col>
                    <vs-col type="flex" justify="center" align="center" w="12">
                      <vs-input :style="`color: ${this.$store.state.colors.default}`" class="inputs" primary shadow label-placeholder="Titre" v-model="titre">
                      </vs-input>
                    </vs-col>
                    <vs-col type="flex" justify="center" align="center" w="12">
                      <vs-textarea label="Message" class="inputs" v-model="message" />
                    </vs-col>
                  </vs-row>
                  <vs-row justify="flex-end">
                    <vs-col type="flex" justify="center" align="center" w="4">
                      <vs-button class="submitButton" @click="sendReport()">
                        <i class="fas fa-paper-plane innerButtonIcon"></i><p class="button-text">Envoyer</p>
                      </vs-button>
                    </vs-col>
                  </vs-row>
                </div>
            </vs-col>
        </vs-row>
        <vs-dialog overflow-hidden v-model="dialog" v-if="dialog != ''">
            <template #header>
              <h4 class="not-margin">
                Message
              </h4>
            </template>
            <div v-if="dialog === 'incomplete'">
              <h5 class="studentformular-dialog">
                Le formulaire est incomplet !
              </h5>
            </div>
            <div v-else-if="dialog === 'error'">
              <h5 class="studentformular-dialog">
                Erreur lors de l'envoi du signalement...<br> Veuillez réessayer ou contacter les administrateurs du site.
              </h5>
            </div>
            <div v-else-if="dialog === 'success'">
              <h5 class="studentformular-dialog">
                Votre signalement a bien été envoyé.
              </h5>
            </div>
            <template #footer v-if="dialog == 'success'">
                <router-link to="/repertoire" class="studentformular-dialog-footer">
                  <vs-button success>Retour au répertoire</vs-button>
                </router-link>
            </template>
        </vs-dialog>
    </div>
</template>

<script>
export default {
  name: 'ReportFormular',
  data:() => ({
    email: '',
    type: '',
    titre: '',
    message: '',
    dialog: ''
  }),
  methods: {
  sendReport() {
      console.log(this.email, this.type, this.titre, this.message)
      if (this.type != '' && this.email != '' && this.titre != '' && this.message != '')
      {
        fetch('http://perso-etudiant.u-pem.fr/~arougnon/api/report.php',
          {
            method: 'POST',
            body: JSON.stringify({
              "Email": this.email,
              "Type": this.type,
              "Titre": this.titre,
              "Message": this.message
            })
          })
          .then(res => {
            console.log("Tentative ENVOI ETUDIANT", res)
            if (res.status == 200 || res.status == 201) this.setDialog('success');
            else this.setDialog('error')
          })
      } else {
        console.log("FORMULAIRE INCOMPLET")
        this.setDialog('incomplete')
      }
    },
    setDialog(state) {
      console.log('set dialog to ', state)
      this.dialog = state;
    }
  }
}
</script>

<style>

  /*.signalementTitle{
  color:#fff;
  }*/
  .formularContainer-report {
    background: linear-gradient(180deg, #C01F23 2.69%, #F2F2F2 50%);
    min-height: 100vh;
  }
  .formularContainer-report > h1{
    color: #fff;
  }

  .reportFormular {
    padding: 20px 15px;
    max-width: 500px;
    background: #fff;
    border-radius: 40px;
  }

  .inputs{
    width: auto !important;
    max-width: inherit !important;
    margin: 15px 8px;
    font-weight: bold;
    text-align: left;
    color: #7E7E7E;
  }

  .inputs > h4{
    opacity: 0.4;
    font-size: 0.8rem !important;
  }

  .vs-textarea {
    height: 29.5vh;
  }

</style>
