<template>
  <div class="skillsSelector">
    <vs-row>
      <vs-col type="flex" justify="center" align="center" w="12">
        <vs-select
            multiple
            collapse-chips
            shadow
            filter
            placeholder="Sélectionnez des compétences"
            v-model="selectedSkills"
            @change="setSkills()"
          >
          <vs-option-group v-for="cat in compList" :key="cat.id_cat">
            <div slot="title">
              {{ cat.titre_cat }}
            </div>
            <vs-option v-for="comp in cat.comps" :key="comp.id" :label="comp.titre" :value="comp">
              {{ comp.titre }}
            </vs-option>
          </vs-option-group>
        </vs-select>
      </vs-col>
    </vs-row>
    <vs-row>
      <vs-col v-for="skill in skills" :key="skill.id" type="flex" justify="center" w="6" class="skillNiv">
        <label class="skillLabel">Niv. {{ skill.titre }}</label>
        <vs-select :placeholder="`Niv. ${skill.titre}`" v-model="skill.niv" @change="sendSkills()">
          <vs-option v-for="val in 5" :key="val" :label="val" :value="val">
            {{ val }}
          </vs-option>
        </vs-select>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
export default {
    name: 'SelectSkills',
    data () {
      return {
        selectedSkills : '',
        skills: [],
        compList: []
      }
    },
    methods: {
      setSkills () {
        console.log("selectedSkills", this.selectedSkills)
          for (let skill of this.selectedSkills) {
            if ( skill && !this.skills.some(ele => ele.id == skill.id) ) {
              let newskill = {
                'niv' : '',
                'titre' : skill.titre,
                'id' : skill.id
              }
              console.log('New skill', skill)
              this.skills.push(newskill)
            }
          }
        console.log('skills :',this.skills)
      },
    sendSkills() {
      console.log("Send Skills : ", this.skills)
      this.$emit('sending', this.skills)
    }
  },
  created: function () {
    fetch('http://perso-etudiant.u-pem.fr/~arougnon/api/filters.php', {method: 'GET'})
      .then(response => {
        console.log("LISTE COMPÉTENCES", response)
        return response.json()
      }).then(data => {
        console.log("data :", data.competences)
        for (let comp of data.competences) {
          console.log(comp.categorie)
          if(!this.compList.some(e => e.id_cat == comp.categorie.id_cat)) {
            let cat = comp.categorie
            cat.comps = []
            this.compList.push(cat)
          }
          let index = this.compList.findIndex(e => e.id_cat == comp.categorie.id_cat)
          this.compList[index].comps.push(comp)
        }
        console.log("compList : ",this.compList)
      })
  }
}
</script>

<style>
  label {
    font-weight: bold;
    color: var(--mainTitle);
  }
  .skillsSelector {
    padding: 20px 15px;
  }
  .vs-select-content {
    max-width: 100% !important;
  }
  .vs-input {
    width: 100%;
  }
  .skillLabel {
    font-size: 11px;
    text-align: left;
  }
  .skillNiv {
    padding: 5px;
  }
</style>
