@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--mainTitle);
    padding: 90px 0 50px 40px;
    max-width: 60vw;
}
h1.profilTitle {
    font-size: 20px;
    font-weight: 900;
    color: var(--mainTitle);
    max-width: 60vw;
    padding: 0;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(180deg, #FFFFFF 14.5%, #FFFFFF 14.51%, #F2F2F2 27.2%);
  }
.bodySignalement{
    background:linear-gradient(180deg, #C01F23 2.69%, #F9F9F9 38.46%);
}  
html{
    overflow-x: hidden;
}

/* TRANSITIONS */
/* slideInRight */
.slideInRight-enter, .slideInRight-leave-active {
    transform: translate(100%);
}
.slideInRight-enter-active, .slideInRight-leave-active {
    transition : all .5s ease-in-out;
}
/* Fade */
.fade-enter-active, .fade-leave-active {
    transition: all .5s ease-in-out;
}
.fade-enter, .fade-leave-active{
    opacity: 0;
}
/* Fade */
.fadeLeft-enter, .fadeLeft-leave-active {
    opacity: 0;
    transform: translate(-20px);
    background-color: var(--primary)
}
.fadeLeft-enter-active, .fadeLeft-leave-active {
    transition : all .5s ease-in-out;
}
