<template>
  <div id="app">
    <router-link to="/repertoire">
      <transition name="fadeLeft">
        <HomeButton v-show="this.$store.state.interface.menuIsOpen == false && this.$route.path != '/repertoire'"></HomeButton>
      </transition>
    </router-link>
    <menu-button></menu-button>
    <transition name="slideInRight">
      <menu-comp v-show="this.$store.state.interface.menuIsOpen"></menu-comp>
    </transition>
    <transition name="fade" appear>
      <div class="app-content"  v-if="this.$store.state.interface.menuIsOpen == false">
        <router-view></router-view>
      </div>
    </transition>
  </div>
</template>

<script>
  import MenuButton from './components/MenuButton.vue'
  import MenuComp from './components/MenuComp.vue'
  import HomeButton from './components/HomeButton.vue'

  export default {
    name: 'App',
    components: {
      MenuButton,
      MenuComp,
      HomeButton
    },
    data () {
      return {

      }
    }
  }
</script>

<style>
  @import url('./css/main.css');
  .students > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .app-content {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 600px) {
      #app {
      display: flex;
      justify-content: center;
    }
  }
</style>
